/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: 'Pacifico', sans-serif;
    --secondary-font: 'Onest', sans-serif;
    --primary-color: #F7B0A5;
    /* Dark Pink */
    --secondary-color: #FFFFFF;
    /* White */
}


body {
    background-color: #f9efee;
}

.navbar {
    background-color: transparent !important; /* transparent background */
    position: fixed; /* keeps the navbar to the top */
    z-index: 10; /* ensures the navbar is above other content */
}


.navbar a {
    color: var(--secondary-color) !important; /* white text */
    font-family: var(--secondary-font);
    font-weight: 600; /* bold text */
    font-size: 1.2rem;
}


.hero {
    background-image: url('../images/brunch3.jpg');
    height: 100vh; /* Full viewport height */
    background-position: center;
    background-size: cover;

    display: flex; 
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

h1{
    font-family: var(--primary-font);
    color:var(--secondary-color);
    font-size: 10vw; /* Responsive font size */
}


p{
    font-family: var(--secondary-font);
}

/* For screens smaller than or egal to 768px */

@media screen and (max-width: 768px) {
    h1 {
        font-size: 12vw; /* Adjusted for smaller screens */
    }
    
}


