/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: 'Onest', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --primary-color: #F7B0A5;
    /* Dark Pink */
    --secondary-color: #FFFFFF;
    /* White */
}


body {
    background-color: #f9efee;
}

h1,
h2,
h3 {
font-family: var(--primary-font);

}

p{
    font-family: var(--secondary-font);
}